# Copia este fichero como .env y rellena los valores antes de arrancar
# SECRET_KEY: genera una con `openssl rand -base64 42`

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Airflow
AIRFLOW_USER=
AIRFLOW_PASSWORD=
AIRFLOW_FIRSTNAME=
AIRFLOW_LASTNAME=
AIRFLOW_EMAIL=
AIRFLOW_ROLE=

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# Nessie
NESSIE_DB_USERNAME=
NESSIE_DB_PASSWORD=

# Superset
SUPERSET_USER=
SUPERSET_PASSWORD=
SUPERSET_FIRSTNAME=
SUPERSET_LASTNAME=
SUPERSET_EMAIL=
SUPERSET_SECRET_KEY=create-me-generate-with-openssl-rand-base64-42